<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gregori.category.mapper.CategoryMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.gregori.category.domain.Category">
        INSERT INTO categories (name)
        VALUES (#{name})
    </insert>

    <update id="updateName">
        UPDATE categories
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM categories
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.gregori.category.domain.Category" parameterType="Long">
        SELECT id, name, created_at, updated_at
        FROM categories
        WHERE id = #{id}
    </select>

    <select id="find" resultType="com.gregori.category.domain.Category">
        SELECT id, name, created_at, updated_at
        FROM categories
        <include refid="limitAndOffset"/>
    </select>

    <sql id="limitAndOffset">
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </sql>
</mapper>
