<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gregori.item.mapper.ItemMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.gregori.item.domain.Item">
        INSERT INTO items (seller_id, name, price, inventory, status)
        VALUES (#{sellerId}, #{name}, #{price}, #{inventory}, #{status})
    </insert>

    <update id="update">
        UPDATE items
        SET name = #{name}, price = #{price}, inventory = #{inventory}, status = #{status}
        WHERE id = #{id}
    </update>

    <update id="deleteByIds" parameterType="map">
        DELETE FROM items
        WHERE id IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <select id="findById" resultType="com.gregori.item.domain.Item" parameterType="Long">
        SELECT id, seller_id, name, price, inventory, status
        FROM items
        WHERE id = #{id}
    </select>

    <select id="findByIds" resultType="com.gregori.item.domain.Item" parameterType="List">
        SELECT id, seller_id, name, price, inventory, status
        FROM items
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findBySellerId" resultType="com.gregori.item.domain.Item" parameterType="Long">
        SELECT id, seller_id, name, price, inventory, status
        FROM items
        WHERE seller_id = #{sellerId}
    </select>
</mapper>
