<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gregori.refresh_token.mapper.RefreshTokenMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.gregori.refresh_token.domain.RefreshToken">
        INSERT INTO refresh_tokens (refresh_token_key, refresh_token_value)
        VALUES (#{refreshTokenKey}, #{refreshTokenValue})
    </insert>

    <update id="update">
        UPDATE refresh_tokens
        SET refresh_token_value = #{refreshTokenValue}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM refresh_tokens
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.gregori.refresh_token.domain.RefreshToken" parameterType="Long">
        SELECT id, refresh_token_key, refresh_token_value
        FROM refresh_tokens
        WHERE id = #{id}
    </select>

    <select id="findByRefreshTokenKey" resultType="com.gregori.refresh_token.domain.RefreshToken" parameterType="String">
        SELECT id, refresh_token_key, refresh_token_value
        FROM refresh_tokens
        WHERE refresh_token_key = #{refreshTokenKey}
        ORDER BY created_at DESC
        LIMIT 1
    </select>
</mapper>
