<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gregori.seller.mapper.SellerMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.gregori.seller.domain.Seller">
        INSERT INTO sellers (member_id, business_number, business_name, is_deleted)
        VALUES (#{memberId}, #{businessNumber}, #{businessName}, #{isDeleted})
    </insert>

    <update id="update">
        UPDATE sellers
        SET business_number = #{businessNumber}, business_name = #{businessName}
        WHERE id = #{id}
    </update>

    <update id="updateIsDeleted">
        UPDATE products
        SET is_deleted = #{isDeleted}
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="map">
        DELETE FROM sellers
        WHERE id IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="findById" resultType="com.gregori.seller.domain.Seller" parameterType="Long">
        SELECT id, member_id, business_number, business_name, is_deleted, created_at, updated_at
        FROM sellers
        WHERE id = #{id} AND is_deleted = 'FALSE'
    </select>

    <select id="findByMemberId" resultType="com.gregori.seller.domain.Seller" parameterType="Long">
        SELECT id, member_id, business_number, business_name, is_deleted, created_at, updated_at
        FROM sellers
        WHERE member_id = #{memberId} AND is_deleted = 'FALSE'
        <include refid="limitAndOffset"/>
    </select>

    <sql id="limitAndOffset">
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </sql>
</mapper>
